DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
REDIS_URL=redis://redis:6379/1
DATABASE_URL=psql://postgres@postgres:5432/postgres
DJANGO_READ_DOT_ENV_FILE=False
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
CELERY_BROKER_URL=redis://redis:6379/2
FEEDS_TASK_UPDATE_INTERVAL=1