DJANGO_DEBUG=True
DJANGO_SECRET_KEY='secret'
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
DJANGO_CORS_ORIGIN_WHITELIST=http://127.0.0.1,http://localhost:3000,http://0.0.0.0
{% if cookiecutter.use_celery != 'n' -%}
CELERY_BROKER_URL=redis://localhost:6379/1
{% endif -%}
